body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    color: #1f2937;
    text-align: left;
    margin: 0;
    padding: 0px;
}
h1 {
    text-align: center;
    margin-top: 30px;
    color: #1f2937;
}
nav {
    background-color: #e2e8f0; 
    padding: 10px 0;
    text-align: center;
}nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    margin: 0 15px;
}
h2 {
    color: #1f2937;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 40px;
}
h3 {
    color: #0ea5e9;
    margin-top: 30px;
}
article {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}
section {
    max-width: 900px;
    margin: 0 auto 1em;
    line-height: 1.6;
}
p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
figure {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    margin: 20px auto;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 0.9em;
    background-color: #111827; 
    color: #e5e7eb;
}